.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* main style */
main{
    width: 1140px;
    margin: 0 auto;
    
}

/* header style */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: repeat;
    /* width: 1440px; */
    /* margin: 0px auto; */
    background-size: contain;
}
.banner{
    margin-top: 158px;
    padding-bottom: 200px;
    text-align: center;
    
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
}
.banner button{
    padding: 15px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}
.banner button:hover{
    background-color: chartreuse;
}

/* nav style */
nav{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    
}
nav h1{
    font-size: 34px;
    color: #4E47FF;
}
nav button{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
nav button:hover{
    background-color: chartreuse;
}
/* action section */
.action-contributer{
    display: flex;
    margin-top: 116px;
    justify-content: space-between;

}
.action-content{
    width: 517px;
    align-items: center;
}
.action-content h1{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-content p{
    font-size: 24px;
    color: #252432;
}
.action-content button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
.action-content button:hover{
    background-color: chartreuse;
}
.action-image{
    border-radius: 48px;
}
/* thousand section */
.thousand-card-section{
    display: flex;
    justify-content: space-between;
}
.thousand-contributer{
    text-align: center;
    margin-top: 116px;
    background-color: #4E47FF10;
    padding: 50px 80px;
    border-radius: 24px;
    margin-bottom: 137px;
}
.thousand-contributer h1{
    font-size: 38px;
    color: #252432;
    font-weight: bold;
}
.thousand-card h1{
    font-size: 80px;
    color: #4E47FF;
}
.thousand-card p{
    font-size: 20px;
    color: #00000050;

}

/* designer section */
.disigner-contributer h1{
    
    font-size: 42px;
    font-weight: bold;
    }

.designer-item{
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 24px;
}
.designer-item h2{
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}
.designer-item p{
    font-size: 16px;
    color: #1E1E1E;
}
.disigner-contributer-cards{
    display: flex;
    width: 1140px;
    
    margin-bottom: 137px;
    justify-content: space-between;
}
.bottom-card{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-img img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: -3px;
}
.card-content h5{
    color: #757575;
    font-size: 16px;
    align-items: end;
    
}
.card-content p{
    color: #757575;
    margin-top: -22px;
    font-size: 16px;
}
/* touch section */
.touch-section{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;

}
.touch-section h1{
    font-size: 98px;
    width: 528px;
}
.form-section{
    width: 497px;
}
.form-section input[type="email"], [type="text"], textarea{
    display: block;
    padding: 20px 32px;
    width: 400px;
    border-radius: 10px;
    border-color: #D6DDED;
    font-size: 20px;
    outline: none;
    margin-top: 10px;
}
.primary-btn{
    padding: 19px 101px;
    width: 465px;
    margin-top: 19px;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: chartreuse;
}

/* footer style */
footer{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 20px;
    padding-bottom: 103px;
    
}
.list{
    display: flex;
    
    justify-content: center;
    gap: 40px;
    
}
footer h1{
    font-size: 100px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: -10px;

}
footer p{
   
    font-size: 16px;
    color: #8987A1;
}